click
# Keep crewai at version 0.130.0
# Other package versions are flexible and can be changed
# Only change crewai version if there are critical dependency conflicts that cannot be resolved by other means
crewai==0.130.0 
crewai-tools==0.47.1
fastapi
groq
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-generativeai
google-resumable-media
googleapis-common-protos
Jinja2
jsonschema
langchain-core
langchain-community

numpy


pandas
pillow
pip
protobuf
pydantic
pydantic_core
pypdf
pypdfium2
python-dateutil
chainlit
langchain
chromadb
sentence-transformers
uvicorn
python-dotenv
python-jose
typing_extensions
python-magic
urllib3
requests
rich
websockets
Werkzeug
pdfplumber
six
watchfiles
# Added for table extraction
camelot-py[cv]
ghostscript